[submodule "LoXIVsharp"]
	path = LoXIVsharp
	url = https://github.com/mohemohe/LoXIVsharp.git
[submodule "Rhinemaidens.Lorelei"]
	path = Rhinemaidens.Lorelei
	url = https://github.com/mohemohe/Rhinemaidens.Lorelei.git
